/* Header Section  */
.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  height: auto;
}

.background {
  background-color: rgba(0, 0, 0, 0.6);
}

.header-content {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.header .logo {
  width: 10%;
}

.header .logo .logo-link {
  width: 200px;
  color: #fff;
  font-size: 23px;
  display: inline-block;
  padding: 30px 50px;
  font-weight: 600;
}

.header .nav {
  width: 100%;
  list-style: none;
  text-align: right;
  padding: 0 10px;
  justify-content: flex-end;
}

.header .nav > li {
  display: inline-block;
  text-align: right;
}

.header .nav > li > button {
  color: #fff;
  padding: 30px 10px;
  display: block;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.header .nav > li > button::after,
.header .nav > li > button.active::after {
  content: '';
  display: block;
  height: 3px;
  background-color: #6195ff;
  transition: width 0.5s;
}

.header .nav > li > button.active::after {
  width: 100%;
}

.header .nav > li > button::after {
  width: 0;
}

.header .nav > li > button:hover::after {
  width: 100%;
}
